<h1>New Restaurant</h1>
<%= form_for @restaurant do |r| %>
  <%= r.hidden_field :id %>
  <p><%= r.label :name %>
  <%= r.text_field :name %></p>
  <p><%= r.label :address %>
  <%= r.text_field :address %></p>
  <p><%= r.label :borough %>
  <%= r.text_field :borough %></p>
  <p><%= r.label :phone %>
  <%= r.text_field :phone %></p>
  <p><%= r.label :cuisine %>
  <%= r.text_field :cuisine %></p>

  <h3>Menu Item Details</h3>
    <%= r.fields_for :foods do |f| %>
      <%= f.hidden_field :id %>
      <p><%= f.label :name, "Menu Item Name" %>
      <%= f.text_field :name %></p>
      <p><%= f.label :price %>
      <%= f.text_field :price %></p>

      <%= f.fields_for :restaurant_foods do |o| %>
        <%= o.hidden_field :restaurant_id %>
        <%= o.hidden_field :food_id %>
        <p><%= o.label :item_type, "Menu Item Type" %>
        <%= o.text_field :item_type %></p>
      <br>
      <% end %>
  <% end %>
  <%= r.submit "Create entry" %>
<% end %>
